<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<script type="text/javascript" src="{% static 'picviewer/js/index.js' %}"></script>
		<link type="text/css" rel="stylesheet" href="{% static 'picviewer/css/styles.css' %}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>index</title>
		<meta name="author" content="David" />
		<!-- Date: 2014-01-22 -->
	</head>
	<body>
		<script>
			sendRequest();
		</script>

	</body>
</html>

