<!DOCTYPE html>

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] ||
                function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-47444408-1', 'redditviewer.com');
            ga('send', 'pageview');

		</script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'picviewer/js/main.js' %}"></script>
		<script>
            currentState = new CurrentState("{{subreddit}}", "{{order}}", "{{timeFrame}}", "{{query}}", "{{searchTime}}", "{{searchOrder}}", "{{user}}");
		</script>
		<link type="text/css" rel="stylesheet" href="{% static 'picviewer/css/styles.css' %}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		{% if user != "" %}
		<title>u/{{user}} | Reddit Picture Viewer</title>
		{% elif name != "" %}
		<title>r/{{name}} | Reddit Picture Viewer</title>
		{% else %}
		<title>Reddit Picture Viewer</title>
		{% endif %}

		<meta name="author" content="David Zou">
		<meta name="description" content="Website to quickly view pictures/gifs from Reddit">
		<meta name="keywords" content="reddit, pictures, cats">
		<!-- Date: 2014-01-22 -->
	</head>
	<body>
		<nav id='subredditsBar'>
			<input type='text' id='subredditSearcher' onkeydown='gotoSubreddit(this.value,event.keyCode)' placeholder='Goto subreddit'/>
			<span class="separator">|</span>
			<a class='subredditURL' href='{% url "picviewer:default" %}'>FRONT</a>
			<span class="separator">-</span>
			<a class='subredditURL' href='{% url "picviewer:subreddit" "all" %}'>ALL</a>
			<span class="separator">|</span>
			{% for sr in subreddits %}
			<a class='subredditURL' href='{% url "picviewer:subreddit" sr   %}'>{{sr|upper}}</a>
			{% if not forloop.last%}
			<span class="separator">-</span>
			{% endif %}
			{% endfor %}

			<a id="sourceCode" href="https://github.com/f2rf2r/RedditPicViewer" target="_blank">Source code</a>
		</nav>

		<header id='headerBar'>
			<a class='logoLink' href='{{link}}' target="_blank"><img id='logo' src='{{image}}' alt="logo"></a>
			{% if user != "" %}
			<a class='logoLink' href='http://www.reddit.com/u/{{user}}' target="_blank"><span id='userName'>u/{{user}}</span></a>
			{% else %}
			<a class='logoLink' href='{{link}}' target="_blank"><span id='subredditName'>{{name}}</span></a>
			{% endif %}
			<nav id='sortBar'>
				{% if user != "" %}
				{% for ord in userOrders %}
				<a class='sortURL' id='sort{{ord}}' href='{% url "picviewer:userSort" user ord  %}'><span class='sortOrder'>{{ord}}</span></a>
				{% endfor %}
				{% elif subreddit != "" %}
				{% for ord in orders %}
				<a class='sortURL' id='sort{{ord}}' href='{% url "picviewer:subredditSort" subreddit ord  %}'><span class='sortOrder'>{{ord}}</span></a>
				{% endfor %}
				{% else %}
				{% for ord in orders %}
				<a class='sortURL' id='sort{{ord}}' href='{% url "picviewer:sort" ord  %}'><span class='sortOrder'>{{ord}}</span></a>
				{% endfor %}
				{% endif %}
			</nav>

			{% if order == "top" or order == "controversial" %}
			<select id="timeFrameSelector" onchange=setTimeFrame(this)>
				{% for t in timeFrames %}
				<option class='timeFrameOption'
				{% if t.0 == timeFrame %} selected {% endif %}
				value={{t.0}}>{{t.1}}</option>
				{% endfor %}
			</select>
			{% endif %}

			<button id="searchButton" onclick='sendSearchRequest()'>
				Search
			</button>
			<div id='searchBar'>
				<input type='text' id='searchBox' onkeydown='checkSearchBox(event.keyCode)' value="{{query}}" placeholder='Search'/>

				<div id="searchOptions">
					<select id="searchSortSelector">
						{% for so in searchOrders %}
						<option class='searchSortOption'
						{% if so == searchOrder %} selected {% endif %}
						value={{so}}>{{so}}</option>
						{% endfor %}
					</select>
					<select id="searchTimeSelector">
						{% for t in timeFrames %}
						<option class='searchTimeOption'
						{% if t.0 == searchTime %} selected {% endif %}
						value={{t.0}}>{{t.1}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</header>

		<section id='gallery'>
			<script>
                for (var x = 0; x < currentState.numCols; x++) {
                    document.write("<ul class='imageList' id='imageList" + x + "'></ul>");
                }
			</script>
		</section>

		<section id="indicator">
			<noscript>
				Please enable javascript to use this site.
			</noscript>
			<div id='endNotification'>
				There are no more links
			</div>
			<button id="loadMoreButton" onclick='sendRequest("{{subreddit}}")'>
				Load more
			</button>
			<img src="{% static 'picviewer/media/loading.gif' %}" id='loadingGif' alt='Loading...'>

		</section>

		<script>
            setup();
		</script>
	</body>

</html>

