<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'picviewer/js/index.js' %}"></script>

		<link type="text/css" rel="stylesheet" href="{% static 'picviewer/css/styles.css' %}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Reddit Picture Viewer</title>
		<meta name="author" content="David" />
		<!-- Date: 2014-01-22 -->
	</head>
	<body>

		<div id='subredditsBar'>
			<a class='subredditURL' href="{% url 'picviewer:default' %}">FRONT</a>
			<span class="separator">-</span>
			<a class='subredditURL' href="{% url 'picviewer:subreddit' 'all' %}">ALL</a>
			<span class="separator">|</span>
			{% for sr in subreddits %}
			<a class='subredditURL' href="{% url 'picviewer:subreddit' sr %}">{{sr|upper}}</a>
			{% if not forloop.last%}
			<span class="separator">-</span>
			{% endif %}
			{% endfor %}
		</div>
		<div id='gallery'>
			{% for x in columns %}
			<ul class='imageList' id='imageList{{ x }}'></ul>
			{% endfor %}
		</div>

		<div class="centerWrapper">
			<button id="loadMoreButton" onclick="sendRequest('{{subreddit}}')">
				Load more
			</button>
			<img src="{% static 'picviewer/media/loading.gif' %}" id='loadingGif' alt='Loading...'>
		</div>
	</body>

	<script>
        var subreddit = '{{subreddit}}';
        sendRequest(subreddit);
	</script>
</html>

