body, div, span, ul, ol, li, img, a, select, p, article, header, nav, section {
	padding: 0px;
	margin: 0px;
	font: normal x-small verdana, arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #333333;
}
a:visited {
	color: #AAAAAA;
}
a:hover {
	color: #369;
}
body {
	background-color: #FDFDFD;
}
noscript {
	display: block;
	position: relative;
	top: 50px;
	text-align: center;
}

/* subreddit */
#subredditsBar {
	display: inline-block;
	padding: 2px 0px;
	border-bottom: 1px solid gray;
	background-color: rgb(240, 240, 240);
	width: 100%;
}
.subredditURL, .separator {
	color: black;
}
.subredditURL:visited {
	color: black;
}
#subredditSearcher {
	margin-left: 10px;
}

#sourceCode {
	margin-right: 10px;
	font-size: medium;
	float: right;
	color: #369;
}

/* header */
#headerBar {
	width: 100%;
	background-color: #CEE3f8;
	position: relative;
	border-bottom: 1px solid #5F99CF;
}
#logo {
	height: 40px;
	margin-left: 5px;
}
#subredditName, #userName {
	font-size: large;
}
.logoLink, .logoLink:visited {
	color: #333333;
}
.logoLink:hover {
	color: #369;
}

#rightHeader {
	position: absolute;
	right: 0;
	display: inline-block;
	text-align: right;
	padding-right: 50px;
}
/* sort */
#sortBar {
	display: inline-block;
	padding-left: 10px;
	vertical-align: bottom;
}
.sortURL {
	padding: 5px 5px 0px 5px;
	background-color: #EFF7FF;
}
.sortURLCurrent {
	padding: 5px 5px 0px 5px;
	border: 1px solid #5F99CF;
	border-bottom: 2px solid #FDFDFD;
	background-color: #FDFDFD;
}
.sortOrder {
	font-size: small;
	font-weight: bold;
	color: #369;
}

#timeFrameSelector {
	display: inline-block;
}

/* search */
#searchBar {
	display: inline-block;
}

#searchButton {
	vertical-align: top;
	display: inline-block;
	margin-right: 30px;
}
#searchBox {
	display: block;
}

#searchOptions {
	text-align: left;
	display: block;
}

/* settings */
#settingsContainer {
	display: inline-block;
}

#settingsButton {
	cursor: pointer;
	vertical-align: bottom;
	text-align: center;
	outline: none;
	padding: 5px;
	border: 1px solid #5F99CF;
	border-radius: 4px;
	background-color: #CEE3f8;
	display: inline-block;
	font-size: small;
	color: #333333;
}
#settingsButton:hover {
	color: #369
}

#settingsDropdown {
	display: none;
	position: absolute;
	margin-right: 50px;
	padding: 10px;
	text-align: left;
	border-radius: 4px;
	border: solid 1px #bbb;
	list-style: none;
	top: 40px;
	right: 0;
	background-color: white;;
	z-index: 10;
}

.settingsItem {
	display: block;
	width: 100%;
	border-bottom: solid 1px #bbb;
	padding: 5px 0px;
}
.settingsLabel {
	float: left;
	padding-right: 5px;
}
.settingsField {
	float: right;
	text-align: right;
}
.clear {
	clear: both;
}
#saveSettingsContainer {
	text-align: center;
	padding: 5px 0px;
}
#saveSettingsButton {
	outline: none;
	border: solid 1px #5F99CF;
	border-radius: 4px;
	background-color: white;
}

#saveSettingsButton:hover {
	color: #369
}

/*gallery */
#gallery {
	position: relative;
	list-style-type: none;
}
.imageList {
	display: inline-block;
	vertical-align: top;
}
.imageContainer {
	margin: 10px;
	position: relative;
	display: block;
	border-radius: 4px;
	border: solid 1px #bbb;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px #eee;
}

.hoverContainer {
	position: relative;
}
a.imageLink {
	position: relative;
}

.image {
	min-height: 100px;
	border-radius: 3px;
	display: block;
}
.imageWithDetails {
	min-height: 100px;
	border-radius: 0px 0px 3px 3px;
	display: block;
}

/* overlay */
.details, .detailsOverlay, .detailsOnly {
	word-wrap: break-word;
	width: 350px;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	background: rgb(255, 255, 255); /* The Fallback */
	border-radius: 3px 3px 0 0;
}
.detailsOverlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .96);
	z-index: 5;
}

.details {
	display: block;
	position: relative;
}

.detailsOnly {/* non-image links */
	margin: 10px;
	position: relative;
	display: block;
	border-radius: 4px;
	border: solid 1px #bbb;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px #eee;
}

.countContainer {
	padding: 0px 5px;
	display: block;
}

.voteCount {
	font-size: x-small;
	display: inline-block;
	width: 50%;
	text-align: left;
}
.commentCount {
	font-size: x-small;
	display: inline-block;
	width: 50%;
	text-align: right;
}

.permalink {
	font-family: Arial, serif;
	padding: 3px 5px;
	display: block;
	font-size: medium;
}

.additionalLinks {
	font-size: small;
	padding: 0px 5px;
	display: block;
}
.author {
	display: inline-block;
	width: 50%;
	text-align: left;;
}
.imageSubreddit {
	display: inline-block;
	width: 50%;
	text-align: right;
}

/* album navigator */
.albumNavigator {
	background: white;
	width: 340px;
	border-radius: 4px 4px 0px 0px;
	padding: 3px 5px;
}

.prevImage, .nextImage {
	vertical-align: bottom;
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
}
.prevImage {
	background: url("/picviewer/static/picviewer/media/arrows.png") 0 0;
}

.nextImage {
	background: url("/picviewer/static/picviewer/media/arrows.png") 16px 0;
}

.prevImage:hover {
	background: url("/picviewer/static/picviewer/media/arrows.png") 0 16px;
}

.nextImage:hover {
	background: url("/picviewer/static/picviewer/media/arrows.png") 16px 16px;
}

.albumInfo, .albumImageInfo {
	vertical-align: top;
	display: inline-block;
}
.albumInfo {
	width: 56px;
	text-align: center;
}
.albumImageInfo {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	width: 245px;
	padding-left: 5px;
	text-overflow: ellipsis;
}

/* Bottom */
#indicator {
	position: relative;
	text-align: center;
}
#loadMoreButton {
	display: none;
}

#loadingGif {
	display: none;
}
#endNotification {
	padding: 5px;
	display: none;
	font-size: large;
}