body, div, span, ul, ol, li, img, a, select {
	padding: 0px;
	margin: 0px;
	font: normal x-small verdana, arial, helvetica, sans-serif;
}
a {
	text-decoration: none;
}
body {
	background-color: #FDFDFD;
}
noscript {
	display: block;
	position: relative;
	top: 50px;
	text-align: center;
}

/* subreddit */
#subredditsBar {
	display: inline-block;
	padding: 2px 0px;
	border-bottom: 1px solid gray;
	background-color: rgb(240, 240, 240);
	width: 100%;
}
.subredditURL, .separator {
	color: black;
}
#subredditSearcher {
	margin-left: 10px;
}

#sourceCode {
	margin-right: 10px;
	font-size: medium;
	float: right;
	color: #369;
}

/* header */
#headerBar {
	width: 100%;
	background-color: #CEE3f8;
	position: relative;
	border-bottom: 1px solid #5F99CF;
}
#logo {
	height: 40px;
	margin-left: 5px;
}
#subredditName {
	font-size: large;
}
.logoLink {
	color: #333333;
}
.logoLink:hover {
	color: #369;
}

/* sort */
#sortBar {
	display: inline-block;
	padding-left: 10px;
	vertical-align: bottom;
}
.sortURL {
	padding: 5px 5px 0px 5px;
	border-bottom: 1px solid #5F99CF;
	background-color: #EFF7FF;
}
.sortURLCurrent {
	padding: 5px 5px 0px 5px;
	border: 1px solid #5F99CF;
	border-bottom-color: #FDFDFD;
	background-color: #FDFDFD;
}
.sortOrder {
	font-size: small;
	font-weight: bold;
	color: #369;
}

#topTimeSelector {
	display: inline-block;
}

/* search */
#searchBar {
	float: right;
	display: inline-block;
}

#searchBox {
	display: block;
}

#searchButton {
	float: right;
	display: inline-block;
	margin-right: 50px;
}

#searchOptions {
	display: block;
}

/*gallery */
#gallery {
	position: relative;
	list-style-type: none;
}
.imageList {
	display: inline-block;
	vertical-align: top;
}
.imageContainer {
	margin: 10px;
	position: relative;
	display: block;
	border-radius: 4px;
	border: solid 1px #bbb;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px #eee;
}
a.imageLink {
	position: relative;
}
.image {
	border-radius: 3px;
	display: block;
}

/* overlay */
.imageOverlay {
	display: none;
	font-size: medium;
	position: absolute;
	bottom: 0;
	left: 0;
	word-wrap: break-word;
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	background: rgb(255, 255, 255); /* The Fallback */
	background: rgba(255, 255, 255, .96);
	z-index: 5;
	border-radius: 0 0 3px 3px;
}

.imageOverlay a {
	color: #333333;
}
.imageOverlay a:visited {
	color: #AAAAAA;
}
.imageOverlay a:hover {
	color: #369;
}

.countContainer {
	padding: 0px 5px;
	display: block;
}
.voteCount {
	display: inline-block;
	width: 50%;
	text-align: left;
}
.commentCount {
	display: inline-block;
	width: 50%;
	text-align: right;
}

.permalink {
	font-family: Arial, serif;
	padding: 3px;
	display: block;
	font-size: medium;
}

.author {
	float: left;
	padding-left: 5px;
}
.imageSubreddit {
	float: right;
	padding-right: 5px;
}

/* Bottom */
.centerWrapper {
	position: relative;
	text-align: center;
}
#loadMoreButton {
	display: none;
}

#loadingGif {
	display: none;
}
#endNotification {
	display: none;
	font-size: large;
}